{% extends 'parent/base.html' %}
{% load static %}

{% block title %}ورود به حساب کاربری{% endblock %}

{% block extra_style %}
    <style>
        .page-wrapper{
            padding-bottom: 0 !important;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
            <!-- این همون دیزاین موداله ولی تو صفحه -->
            <div class="bg-dark border-light rounded-4 overflow-hidden">
                <div class="row g-0 align-items-center">
                    <!-- سمت راست - تصویری -->
                    <div class="col-md-6 border-end-md border-light p-4 p-sm-5">
                        <h2 class="h4 text-light mb-4 mb-sm-5">
                            سلام!
                            <br>
                            به سایت ما خوش آمدید.
                        </h2>
                        <img class="d-block mx-auto"
                             src="{% static 'finder/img/signin-modal/signin-dark.svg' %}"
                             width="344"
                             alt="Illustartion">
                        <div class="text-light mt-4 mt-sm-5">
                            <span class="opacity-60">هنوز ثبت نام نکرده اید؟</span>
                            <a class="text-light" href="{% url 'accounts:register' %}">
                                ثبت نام
                            </a>
                        </div>
                    </div>
                    
                    <!-- سمت چپ - فرم -->
                    <div class="col-md-6 p-4 p-sm-5">
                        <a class="btn btn-outline-info w-100 mb-3" href="#">
                            <i class="fi-google fs-lg me-1"></i>ورود با اکانت گوگل
                        </a>
                        <div class="d-flex align-items-center py-3 mb-3">
                            <hr class="hr-light w-100">
                            <div class="text-light opacity-70 px-3">یـا</div>
                            <hr class="hr-light w-100">
                        </div>
                        
                        <form method="POST" action="{% url 'accounts:login' %}">
                            {% csrf_token %}
                            
                            {% if error %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {{ error }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                            </div>
                            {% endif %}
                            
                            <div class="mb-4">
                                <label class="form-label text-light mb-2">تلفن همراه</label>
                                {{ login_form.phone_number }}
                                {% if login_form.phone_number.errors %}
                                    <div class="text-danger small mt-1">{{ login_form.phone_number.errors.0 }}</div>
                                {% endif %}
                            </div>
                            
                            <div class="mb-4">
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <label class="form-label text-light mb-0">رمز عبور</label>
                                    <a class="fs-sm text-light" href="#">رمز عبور را فراموش کرده اید؟</a>
                                </div>
                                <div class="password-toggle">
                                    {{ login_form.password }}
                                    <label class="password-toggle-btn" aria-label="نمایش/پنهان کردن رمز عبور">
                                        <input class="password-toggle-check" type="checkbox">
                                        <span class="password-toggle-indicator"></span>
                                    </label>
                                </div>
                                {% if login_form.password.errors %}
                                    <div class="text-danger small mt-1">{{ login_form.password.errors.0 }}</div>
                                {% endif %}
                            </div>
                            
                            <button class="btn btn-primary btn-lg w-100" type="submit">
                                ورود به حساب کاربری
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}