# Virtual environments
env/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environment variables
.env
.env.local

# Python
__pycache__/
*.py[cod]
*.so

# Media & Static
media/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db