{% load static %}
<link rel="stylesheet" href="{% static 'campaigns/css/previews/bale_preview.css' %}">

<div id="balePreview" class="bale-card">

    <div class="bale-header">
        وینجاب
    </div>

    <div class="bale-image-wrapper">
        <img id="baleImage" class="bale-image d-none" alt="" src="">
    </div>

    <div class="bale-content">

        <p id="baleCaption" class="bale-text"></p>

        <a id="baleLink"
           href="#"
           class="bale-link d-none"
           target="_blank">
        </a>

        <div class="bale-meta">
            <span id="baleViews">3.2K views 👁</span>
            <span id="baleTime">16:13</span>
        </div>

    </div>

</div>
