{% load static %}

<link rel="stylesheet" href="{% static 'campaigns/css/previews/eitaa_preview.css' %}">

<div class="eitaa-card">

    <img id="baleImage" class="eitaa-image d-none" src="" alt="">

    <div class="eitaa-content">

        <p id="baleCaption" class="eitaa-text"></p>

        <a id="baleLink"
           class="eitaa-link d-none"
           target="_blank">
        </a>

        <div class="eitaa-meta">
            <span>👁 150K </span>
            <span>12:30 بعد از ظهر</span>
        </div>

    </div>

</div>
